# Build output
build/
build/_deps
out/
cmake-build-*/

# IDE
.idea/
.cache/
.vs/
.vscode
*.user
*.suo

#AI
.artifacts

# Compiled shaders (generated at build time)
shaders/*.spv

# OS
Thumbs.db
.DS_Store
